<div class="jumbotron center">
 <h1>For the honor of Nohr..Konichiwa..</h1>
 <p>The hunger for <strong> success </strong> is steadily increasing...</p>
 
 <%= link_to "Join Us", new_user_registration_path, class: "btn btn-default" %>
 <%= link_to "Feast Up", new_user_session_path, class: "btn btn-primary" %>
</div>

