<div class="jumbotron center">
 <h1>For the honor of Nohr...</h1>
 <p>The hunger for <strong>success</strong> is steadily increasing! We've got to FEED... !</p>
 
 <%= link_to "Join In", root_path, class: "btn btn-default" %>
 <%= link_to "Feast Up", root_path, class: "btn btn-primary" %>
 
</div>

